<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Page</title>
  <link rel="stylesheet" href="/static/css/app.css" />
</head>

<body>

<div class="page">

  <!-- TOP PROFILE BAR -->
  <div class="profile-header">
    User profile
  </div>

  <!-- COLLECTED ANIMALS SECTION -->
  <div class="collection-container">

    <h2 class="section-title">Collected Animals</h2>

    <div class="animal-grid">

      <div class="profile-card">
      <div class="profile-pic">Mountain Lion</div>
      <div class="user-level">300 Collection Points</div>

      <div class="profile-pic">Dobermann</div>
      <div class="user-level">60 Collection Points</div>

      <div class="profile-pic">Labrador Retriever</div>
      <div class="user-level">60 Collection Points</div>

      <div class="profile-pic">Golden Retriever</div>
      <div class="user-level">60 Collection Points</div>

      <div class="profile-pic">German Shepherd</div>
      <div class="user-level">75 Collection Points</div>

    </div>

      <a href="/">
        <button>Back</button>
      </a>

    </div>

  </div>

</div>

</body>
</html>