<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Page</title>
  <link rel="stylesheet" href="/static/css/app.css" />
</head>

<body>

  

<div class="page">
    <!-- Logo -->
    <div class="logo">
      <img src="/static/img/logo.png" alt="Logo">
    </div>
  <div class="sidebar">
    <h2>Leaderboard</h2>
  </div>

  <div class="main-content">
      <!-- LEADEARBOARD -->
  <div class="collection-container">

   <div class="profile-card">
      <div class="profile-pic">John Jamie Jamison</div>
      <div class="user-level">Level 44</div>

      <div class="profile-pic">Leeroy Jenkins</div>
      <div class="user-level">Level 43</div>

      <div class="profile-pic">Andy Pandy</div>
      <div class="user-level">Level 43</div>

      <div class="profile-pic">Fast Api</div>
      <div class="user-level">Level 42</div>

      <div class="profile-pic">John Scanimal</div>
      <div class="user-level">Level 41</div>

      <div class="profile-pic">Mister Quasi</div>
      <div class="user-level">Level 40</div>

      <div class="profile-pic">John Jamie Jamison</div>
      <div class="user-level">Level 44</div>

      <div class="profile-pic">Leeroy Jenkins</div>
      <div class="user-level">Level 43</div>

      <div class="profile-pic">Andy Pandy</div>
      <div class="user-level">Level 43</div>

      <div class="profile-pic">Fast Api</div>
      <div class="user-level">Level 42</div>

      <div class="profile-pic">John Scanimal</div>
      <div class="user-level">Level 41</div>

      <div class="profile-pic">Wii Kooked</div>
      <div class="user-level">Level 67</div>

    </div>

    <a href="/">
    <button>Back To Home</button>
  </a>
  </div>
      </div>

  </div>

</div>

</body>
</html>