<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Page</title>
  <link rel="stylesheet" href="/static/css/app.css" />
</head>

<body>

<div class="page">

  <div class="sidebar">
    <h2>User profile</h2>

    <div class="profile-box">
      User Data Display
    </div>
  </div>

  <!-- Profile card -->
    <div class="profile-card">
      <div class="profile-pic">User Profile Picture</div>
      <div class="user-level">User Level</div>
    </div>

  <div class="main-content">
    <!-- empty for now -->
  </div>

</div>

</body>
</html>